<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>3d Warehouse</title>
    <h1>Welcome to 3d Warehouse</h1>

</head>
<body>
    <form action="/loginAuth" method="POST">
        <input type="text" name = "username" placeholder="username" required/> </br>
        <input type="password" name = "password" placeholder="password" required/></br>
        <input type="submit" value = Login />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
    <br>
    <form action="/registerAuth" method="POST">
        <input type="text" name = "username" placeholder="username" required/> </br>
        <input type="password" name = "password" placeholder="password" required/></br>
        <input type="text" name = "email" placeholder="enter your email" required/></br>
        <input type="submit" value = Register />
        {% if error %}
            <p class="error"><strong>Error:</strong> {{error}}</p>
        {% endif %}
    </form>
</body>
</html>