<!DOCTYPE html>
<html lang="en">

<head>
    <script src="//unpkg.com/d3@6.6.2/dist/d3.min.js"></script>
    <script src="//unpkg.com/d3fc@15.1.2/build/d3fc.js"></script>
    <script src="//unpkg.com/d3-svg-annotation@2.5.1/indexRollup.js"></script>
</head>

<body>
    <div id="chart"></div>
    <div id="chart2"></div>

    <style>
        #chart {
            height: 950px;
            position: absolute;
        }

        d3fc-canvas {
            height: 900px;
            width: 1700px;
        }

        .imgPanel {
            /* position: absolute; */
            width: 1700px;
            height: 900px;
            margin: 1em 1em 1em 1em;
        }
    </style>


    <script type="module">
        import { seriesSvgAnnotation } from "/scripts/annotation-series.js";
        import {
            distance,
            trunc,
            hashCode,
            webglColor,
            iterateElements
        } from "/scripts/util.js";

        fetch(`/xydata`).then(function (response) {
            return response.json();
        }).then(function (json) {
            var rawdata = json;
            var data = rawdata;
            // data = [{ x: 0, y: 0, link: "/models/2" }, { x: 100, y: 100, link: "/models/2" }];
            // console.log(data);
            let quadtree;
            quadtree = d3
                .quadtree()
                .x(d => d.x)
                .y(d => d.y)
                .addAll(data);

            // const data = d3.range(0, 50).map(d => Math.random());
            const width = 1700, height = 900;
            const xScale = d3.scaleLinear().domain([0, width]);
            const yScale = d3.scaleLinear().domain([height, 0]);
            const xScaleOriginal = xScale.copy();
            const yScaleOriginal = yScale.copy();



            const pointSeries = fc
                .seriesWebglPoint()
                .crossValue(d => d.x)
                .mainValue(d => d.y);

            const redraw = () => {
                d3.select("#chart")
                    .datum(data)
                    .call(chart);
            };


            const svg = d3
                .select("#chart2")
                .append("svg")
                // .style("width", 1768)
                // .style("height", 1472)
                .classed("imgPanel", true);
            const g = svg.append("g");

            const labels = g.selectAll("label")
                .data(data)
                .join("image")
                // .join("text")
                // .attr("xlink:href", (a) => a.img)
                .attr("width", 50)
                .attr("height", 50)
                .attr("alt", "helloworld")
                // .style("display", "none")
                // .text(d => "x:"+d.x+" y:"+d.y);
                // .on("click", (d, a) => window.location = a.link);
                .on("click", function (d, a) {
                    console.log("hello");
                    window.location = a.link
                });

            // const rect = g.append("rect")
            //     .attr("x", 0)
            //     .attr("y", 0)
            //     .attr("width", 100)
            //     .attr("height", 100)
            //     .style("opacity", 0.2);
            var k = 1;
            var dragX = 0;
            var dragY = 0;
            const zoom = d3
                .zoom()
                .scaleExtent([0.2, 40])
                .on("zoom", (event) => {
                    xScale.domain(event.transform.rescaleX(xScaleOriginal).domain());
                    yScale.domain(event.transform.rescaleY(yScaleOriginal).domain());
                    redraw();
                    // if (event.transform.k > 0) {
                    //     labels.text(d => "x:" + d.x + " y:" + d.y);
                    // }
                    k = event.transform.k;
                    const x = event.transform.x;
                    const y = event.transform.y;
                    dragX = x;
                    dragY = y;

                    // rect.attr("x", 20)
                    //     .attr("y", 20)
                    //     .attr("width", width-40)
                    //     .attr("height", height-40);
                    // .attr("transform",event.transform);
                    

                    if (k >= 10) {
                        labels
                            .attr("x", (a) => k * a.x + x / 2 - 25)
                            .attr("y", (a) => k * a.y + y / 2 - 25)
                            .attr("xlink:href", function (a) {
                                let curx = k * a.x + x / 2;
                                let cury = k * a.y + y / 2;
                                if (curx > 20 && curx < width - 40 && cury > 20 && cury < height - 40) {
                                    return a.img;
                                }
                            })
                            .attr("width", function (a) {
                                let curx = k * a.x + x / 2;
                                let cury = k * a.y + y / 2;
                                if (curx > 20 && curx < width - 40 && cury > 20 && cury < height - 40) {
                                    return 50 * log2(100*k);
                                }
                                return 50;
                            })
                            .attr("height", function (a) {
                                let curx = k * a.x + x / 2;
                                let cury = k * a.y + y / 2;
                                if (curx > 20 && curx < width - 40 && cury > 20 && cury < height - 40) {
                                    return 50 * log2(100*k);
                                }
                                return 50;
                            });

                        // console.log(event.transform.k);
                    }else{
                        labels.attr("xlink:href",null);
                    }
                });

            const chart = fc
                .chartCartesian(xScale, yScale)
                .webglPlotArea(pointSeries)
                .decorate(sel =>
                    sel
                        .enter()
                        .select(".plot-area")
                        .on("measure.range", (event) => {
                            xScaleOriginal.range([0, event.detail.width]);
                            yScaleOriginal.range([event.detail.height, 0]);
                            // console.log(event);
                        })
                        .call(zoom)
                );

            const canvas = document.getElementById('chart');
            // console.log(canvas);
            const elemLeft = canvas.offsetLeft + canvas.clientLeft;
            const elemTop = canvas.offsetTop + canvas.clientTop;
            canvas.addEventListener('click', function (event) {
                var curx = event.pageX - elemLeft - 16;
                var cury = event.pageY - elemTop - 16;

                var x = (curx - dragX / 2) / k;
                var y = (cury - dragY / 2) / k;

                console.log("x:" + x + " y:" + y);

                const closestDatum = quadtree.find(x, y, 5);
                if (closestDatum) {
                    // console.log(closestDatum);

                    window.location = closestDatum.link;
                }

            }, false);



            redraw();
        })
    </script>
</body>

</html>