<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Test</title>
</head>

<body>
    <div id="chart-container">
        <div id="chart"></div>
        <div id="loading"><span>loading...</span></div>
    </div>

    <style>
        html {
            touch-action: none;
        }

        text {
            font-family: sans-serif;
            font-size: 7pt;
        }

        svg {
            border: 1px solid black;
            margin: auto;
        }

        rect {
            margin: auto;
        }
    </style>

    <script src="//unpkg.com/babel-polyfill@6.26.0/dist/polyfill.js"></script>
    <script src="//unpkg.com/custom-event-polyfill@0.3.0/custom-event-polyfill.js"></script>
    <script
        src="//cdnjs.cloudflare.com/ajax/libs/document-register-element/1.8.0/document-register-element.js"></script>

    <script src="//unpkg.com/d3@5.15.0/dist/d3.min.js"></script>
    <script src="//unpkg.com/d3fc@14.2.3/build/d3fc.js"></script>
    <script src="//unpkg.com/d3-svg-annotation@2.5.1/indexRollup.js"></script>
    <script type="module">
        import { seriesSvgAnnotation } from "/scripts/annotation-series.js";
        import { webglColor } from "/scripts/util.js";
        // (async function () {

        //     // const url = document.URL;
        //     // const startind = url.lastIndexOf('/')+1
        //     // let id = document.URL.substring(startind,url.length);

        //     let rawdata;
        //     let id = 49993;
        //     var response = await
        //         fetch(`/neighbors/${id}`).then(function (response) {
        //             return response.json();
        //         }).then(function (json) {
        //             rawdata = json;
        //         })

        //     //////////////

        const data = fc.randomFinancial()(50);

const yExtent = fc.extentLinear().accessors([d => d.high, d => d.low]);

const xExtent = fc.extentDate().accessors([d => d.date]);

const gridlines = fc.annotationSvgGridline();
const candlestick = fc.seriesSvgCandlestick();
const multi = fc.seriesSvgMulti().series([gridlines, candlestick]);

const chart = fc
    .chartCartesian(d3.scaleTime(), d3.scaleLinear())
    .yDomain(yExtent(data))
    .xDomain(xExtent(data))
    .svgPlotArea(multi);

d3.select('#chart')
    .datum(data)
    .call(chart);
        ////////////


        console.log("DONE");

        // })()

    </script>

</body>

</html>